---
// import '../styles/global.css'
import Navigation from "../components/navigation.astro";
---
<html>
	<head>
		<title>Your not supposed to be here mr freeman</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Navigation/>
	</head>
	<body class="bg-[#5f9ea0]">

	<h1 class="text-9xl">Astro</h1>
	<h1 class="text-2xl"> Hello</h1>
		<h1>This is the funny</h1>
	<p>Silly Test</p>

	</body>
</html>
