---
// import '../styles/global.css'
import Navigation from "../components/navigation.astro";
import Footer from "../components/Footer.astro"
const pageTitle = "Index"
---
<html lang="en">
<head>
	<title>{pageTitle}</title>
</head>
<!--<body class= "bg-[#5f9ea0]">-->
<body class="bg-gradient-to-r from-coral-pink to-pastel-purple">
<Navigation></Navigation>
<h1 class="text-9xl">Astro</h1>
<h1 class="text-2xl">Hello</h1>
<h1>This is the funny</h1>
<p>Silly Test</p>
</body>
<Footer />
</html>