---
import Social from "./Social.astro";
---

<div class="flex min-h-screen flex-col">
  <main class="flex-grow"></main>
  <div class="bg-better-grey/70 py-4 text-center">
    <p class="-translate-y-3 transform rounded-md bg-purple-900 px-4 font-medium text-white">
      Btw Im also on
    </p>
    <Social platform="github" username="jackisapi" />
    <Social platform="linkedin" username="in/jackisapi/" />
  </div>
</div>
