---
import Social from "./Social.astro"
---
<div class='h-screen flex flex-col justify-center items-center'>
<footer>
    <p>Im also on </p>
    <Social platform="github" username="jackisapi"/>
    <Social platform="linkedin" username="/in/jackisapi" />
</footer>
</div>