---
import Navigation from "./navigation.astro";
const pageTitle="Funny achieved";

---
<html lang="en">
<head>
    <title>{pageTitle}</title>
</head>
<!--<body class= "bg-[#5f9ea0]">-->
<body class="bg-gradient-to-r from-coral-pink to-pastel-purple">
<Navigation></Navigation>
