---

---

<div class="text-center">
  <!--bg-opacity-25-->
  <header class="stick top-0 z-50 bg-better-grey/70 py-4">
    <a
      href="/"
      class="' rounded-md bg-[#B64992] px-4 py-2 font-medium text-white transition hover:brightness-110"
      >Home</a
    >
    <a
      href="/blog/"
      class="' rounded-md bg-[#B64992] px-4 py-2 font-medium text-white transition hover:brightness-110"
      >Blog</a
    >
  </header>
</div>
