---
const {platform, username ,x_position, y_position} = Astro.props;
---
    <a href={`https://www.${platform}.com/${username}`} class={`px-4 py-2 text-[#0a1310] bg-[#fa8476] align-bottom mb-4`} >{platform}</a>


    <!--<style>-->
<!--    // a{-->
<!--    //     padding: 0.5rem 1rem;-->
<!--    //     color: black;-->
<!--    //     background-color: darksalmon;-->
<!--    //     text-decoration: none;-->
<!--    // }-->
<!--</style>-->
