---
const { platform, username } = Astro.props;
---

<!--// align-bottom mb-4-->
<a href={`https://www.${platform}.com/${username}`} class={`px-4 py-2 bg-orange`}>{platform}</a>

<!--<style>-->
<!--    // a{-->
<!--    //     padding: 0.5rem 1rem;-->
<!--    //     color: black;-->
<!--    //     background-color: darksalmon;-->
<!--    //     text-decoration: none;-->
<!--    // }-->
<!--</style>-->
