---
const {platform, username} = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} class="">{platform}</a>
<!--<style>-->
<!--    // a{-->
<!--    //     padding: 0.5rem 1rem;-->
<!--    //     color: black;-->
<!--    //     background-color: darksalmon;-->
<!--    //     text-decoration: none;-->
<!--    // }-->
<!--</style>-->

