---
import Navigation from "./components/navigation.astro";
import "./styles/global.css";

const {title: pageTitle} = Astro.props;
---

<html lang="en">
<head>
    <title>{pageTitle}</title>
</head>
<!--<body class= "bg-[#5f9ea0]">-->
<body class="bg-gradient-to-r from-coral-pink to-pastel-purple">
<Navigation/>
<slot/>
</body>
</html>